.sunday{
	background-color:lightgreen;
	color:white;
}

.monday{
	background-color:cyan;
	color:white;
}

.tuesday{
	background-color:orange;
	color:white;
}

.wednesday{
	background-color:lightgray;
	color:white;
}

.thursday{
	background-color:blue;
	color:white;
}

.friday{
	background-color:pink;
	color:white;
}

.saturday{
	background-color:yellow;
	color:white;
}

